
.wrapper {
    padding: 5px 20px;
}

.wrapper fieldset {
    margin: 20px 0;
}
body{
    background-image: url("Data-art-2-01.svg");
    background-color: #cccccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.buttonHolder{ text-align: center; }

.dropdown {
    display: inline-block;
    position: relative;
}
/*}*/
/*body {*/
/*    background-image: url("Data-art-2-01.svg");*/
/*    background-color: #cccccc;*/
/*    background-position: center center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    opacity: 1;*/
/*}*/

